
.venv
server/utils/Market/__pycache__

server/utils/simulation_logs

simulation_logs

client/node_modules

client/.next

server/Market/__pycache__

server/Market/__pycache__

server/Market/__pycache__

server/__pycache__

server/MarketModel/__pycache__

server/__pycache__

simulation_output

server/__pycache__/config.cpython-310.pyc

server/__pycache__

backend/MarketSimulation/__pycache__

backend/MachineLearning/__pycache__

.vscode
